<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">

	<th:block th:fragment="content">

		<div class="container-md">
			<h2>게시판</h2>
			<br>

			<div class="mb-3">
				<label for="title" class="form-label">bno</label> <input type="text"
					name="title" class="form-control" id="title" placeholder="Title"
					th:value="${bvo.bno }" readonly="readonly">
			</div>
			<div class="mb-3">
				<label for="title" class="form-label">제목</label> <input type="text"
					name="title" class="form-control" id="title" placeholder="Title"
					th:value="${bvo.title }" readonly="readonly">
			</div>

			<div class="mb-3">
				<label for="writer" class="form-label">작성자</label> <input
					type="text" name="writer" class="form-control" id="writer"
					placeholder="Wirter" th:value="${bvo.writer }" readonly="readonly">
			</div>
			<div class="mb-3">
				<label for="content" class="form-label">등록일 </label> <input
					type="text" name="writer" class="form-control" id="writer"
					placeholder="Wirter" th:value="${bvo.regAt }" readonly="readonly">
			</div>

			<div class="mb-3">
				<label for="content" class="form-label">내용</label>
				<textarea class="form-control" name="content" id="content" rows="3"
					readonly="readonly">[[${bvo.content }]]</textarea>
			</div>

			<!-- 댓글 등록 라인 -->
			<div class="input-group mb-3">
				<span class="input-group-text" id="cmtWriter">Anonymous</span> <input
					type="text" class="form-control" id="cmtText"
					aria-label="Amount (to the nearest dollar)">
				<button type="button" class="btn btn-success" id="cmtPostBtn">등록</button>
			</div>

			<!-- 댓글 표시 라인 -->
			<ul class="list-group list-group-flush" id="cmtListArea">
				<li class="list-group-item">
					<div class="ms-2 me-auto">
						<div class="fw-bold">
							Writer <span class="badge rounded-pill text-bg-warning">modAt</span>
						</div>
						content
					</div>
				</li>
			</ul>

			<br> <a href="/board/list">
				<button type="button" class="btn btn-secondary">List</button>
			</a> <a th:href="|/board/modify?bno=${bvo.bno}|">
				<button type="button" class="btn btn-success">수정 페이지로 이동</button>
			</a>


		</div>
		<!-- <script th:src="|/js/boardDetail.js|"></script> -->

	</th:block>


</th:block>

<script th:inline="javascript">
		const isMod = [[${isMod}]];
		if(isMod == 1){
			alert("수정 성공")
		}
</script>

<script src="/js/boardDetail.js"></script>
<script src="/js/boardComment.js"></script>