<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout :: setFragment(~{this::content})}">

	<th:block th:fragment="content">

		<form action="/board/modify" method="post">
			<div class="container-md">
				<h2>수정 게시판</h2>
				<br>

				<div class="mb-3">
					<label for="bno" class="form-label">bno</label> <input type="text"
						name="bno" class="form-control" id="title" placeholder="Title"
						th:value="${bdto.bvo.bno }" readonly="readonly"
						style="background-color: gray;">
				</div>

				<div class="mb-3">
					<label for="title" class="form-label">제목</label> <input type="text"
						name="title" class="form-control" id="title" placeholder="Title"
						th:value="${bdto.bvo.title }">
				</div>

				<div class="mb-3">
					<label for="writer" class="form-label">작성자</label> <input
						type="text" name="writer" class="form-control" id="writer"
						placeholder="Writer" th:value="${bdto.bvo.writer }"
						readonly="readonly" style="background-color: gray;">
				</div>
				<div class="mb-3">
					<label for="regAt" class="form-label">등록일</label> <input
						type="text" name="regAt" class="form-control" id="regAt"
						placeholder="Wirter" th:value="${bdto.bvo.regAt }"
						readonly="readonly" style="background-color: gray;">
				</div>

				<div class="mb-3">
					<label for="content" class="form-label">내용</label>
					<textarea class="form-control" name="content" id="content" rows="3">[[${bdto.bvo.content }]]</textarea>
				</div>
				<!-- 파일 표시 라인 -->
				<div class="mb-3">
					<ul class="list-group list-group-flush">
						<li th:each="fvo : ${bdto.flist}" class="list-group-item">

							<div th:if="${fvo.fileType > 0}" class="ms-2 me-auto">
								<img
									th:src="@{|/upload/${fvo.saveDir}/${fvo.uuid}_th_${fvo.fileName}|}">
							</div>
							<div th:unless="${fvo.fileType > 0}" class="ms-2 me-auto">
								<!-- 아이콘 (이미지 파일x) -->
								아이콘임
							</div>

							<div class="ms-2 me-auto">
								<div class="fw-bold">[[${fvo.fileName}]]</div>
								[[${fvo.regAt}]]
							</div> <span class="badge rounded-pill text-bg-warning">[[${fvo.fileSize}]]Bytes</span>

							<div class="ms-2 me-auto">
								<div class="fw-bold">
									<a href="/upload/${fvo.saveDir }/${fvo.uuid}_${fvo.fileName}"
										download>[[${fvo.fileName }]]</a>
								</div>
								<span class="badge text-bg-dark">[[${fvo.fileSize/1024.0}]]KB</span>
								<button type="button" data-uuid="${fvo.uuid }"
									class="btn btn-outline-danger file-x">x</button>
							</div>

						</li>
					</ul>
				</div>

				<a href="/board/list">
					<button type="button" class="btn btn-secondary">List</button>
				</a>

				<button type="submit" class="btn btn-success">modify</button>

				<a th:href="|/board/delete?bno=${bdto.bvo.bno}|">
					<button type="button" class="btn btn-danger" id="delBtn">remove</button>
				</a>

			</div>
		</form>


		<!-- 		<form action="/board/remove" method="post" id="delForm" style="display:none;">
			<input type="hidden" name="bno" th:value="${bvo.bno}">
		</form>
		
		<button type="button" id="delBtn">X</button> -->


	</th:block>

</th:block>

<script src="/js/boardRegister.js"></script>