<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">

	<th:block th:fragment="content">
		<h2>Member Register Page</h2>
		<form action="/member/register" method="post">
		
		
			<div class="mb-3">
					<label for="email" class="form-label">email</label> 
					<input type="email" name="email" class="form-control" id="email" placeholder="email@email.com">
			</div>
			
			<div class="mb-3">
					<label for="pwd" class="form-label">Password</label> 
					<input type="password" name="pwd" class="form-control" id="pwd" placeholder="password">
			</div>
			
			<div class="mb-3">
					<label for="pwd" class="form-label">Password Check</label> 
					<input type="password" name="" class="form-control" id="pwdCheck" placeholder="password">
			</div>
			
			<div class="mb-3">
					<label for="nickName" class="form-label">NickName</label> 
					<input type="text" name="nickName" class="form-control" id="nickName" placeholder="nickName">
			</div>
		
			<button type="submit" class="btn btn-secondary">Register</button>
			

		</form>

	</th:block>

</th:block>